{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}

<div class="row q-col-gutter-md">
<div class="col-12 col-md-7 q-gutter-y-md">
<q-card>
  <q-card-section>
    <h5 class="text-subtitle1 q-mt-none q-mb-md">
      Scheduler
    </h5>
    <q-btn unelevated color="primary" @click="formDialog.show = true">New job</q-btn>
    <q-btn unelevated color="primary" @click="executeJobConfig()">Execute</q-btn>

    <q-separator class="q-my-lg"></q-separator>

    <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendFormData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>

        <q-input
          filled
          dense
          v-model.trim="formDialog.data.description"
          type="text"
          label="Description"
        ></q-input>
        
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.timer_minute"
          type="number"
          label="Minute"
        ></q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialog.data.lnurl"
          type="text"
          label="Lnurl"
        ></q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialog.data.amount"
          type="number"
          label="Amount (Sat)"
        ></q-input>

        <div class="row q-mt-lg">
            <q-btn
              v-if="formDialog.data.id"
              unelevated
              color="primary"
              type="submit"
              >Update Job</q-btn
>
            <q-btn
              v-else
              unelevated
              color="primary"
              :disable="formDialog.data.wallet == null"
              type="submit"
              >Create Job</q-btn>
            <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
          </div>
      </q-form>
    </q-card>
  </q-dialog>




<q-table
          dense
          flat
          :data="jobconfigs"
          row-key="id"
        >
        {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width style="text-align: left">Id</q-th>
              <q-th auto-width style="text-align: left">Description</q-th>
              <q-th auto-width style="text-align: left">Amount (Sat)</q-th>
              <q-th auto-width style="text-align: left"></q-th>

            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>{{ props.row.id }}</q-td>
              <q-td auto-width>{{ props.row.description }}</q-td>
              <q-td auto-width>{{ props.row.amount }}</q-td>

              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="openUpdateDialog(props.row.id)"
                  icon="edit"
                  color="light-blue"
                ></q-btn>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteJobConfig(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
</q-table>

    
  </q-card-section>
</q-card>
</div>

<div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Scheduler extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "scheduler/_api_docs.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

</div>

{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        tools: [],
        jobconfigs: [],
        formDialog: {
          show: false,
          data: {
             wallet: {  }
          }
        }

      }
    },
    methods: {
        executeJobConfig(){
            var self = this
            data = this.jobconfigs[0]
            LNbits.api
            .request('POST', '/scheduler/api/v1/execute', self.g.user.wallets[0].adminkey, data)
            .then(response => {
              console.log("executed")
            })
            .catch(err => {
              LNbits.utils.notifyApiError(err)
            })
        },
        getTools(){
          var self = this
          axios({
            method: 'GET',
            url: '/scheduler/api/v1/tools',
            headers: {
            }
          }).then(function (response) {
            self.tools = response.data
          })
        },
        createJobConfig(wallet, data) {
          LNbits.api
            .request('POST', '/scheduler/api/v1/jobconfigs', wallet.inkey, data)
            .then(response => {
              //this.jobconfigs.push(response.data) FIXME
              this.formDialog.show = false
              this.resetFormData()
              this.getJobConfigs()
            })
            .catch(err => {
              LNbits.utils.notifyApiError(err)
            })
        },
        updateJobConfig(wallet, data) {
          LNbits.api
            .request('PUT', '/scheduler/api/v1/jobconfigs/'+ data.id, wallet.inkey, data)
            .then(response => {
              //this.jobconfigs.push(response.data) FIXME
              this.formDialog.show = false
              this.resetFormData()
              this.getJobConfigs()
            })
            .catch(err => {
              LNbits.utils.notifyApiError(err)
            })
        },
        deleteJobConfig(id) {
          var self = this
          LNbits.api
            .request('DELETE', '/scheduler/api/v1/jobconfigs/'+ id, self.g.user.wallets[0].adminkey)
            .then(response => {
              this.getJobConfigs()
            })
            .catch(err => {
              LNbits.utils.notifyApiError(err)
            })
        },
        getJobConfigs() {
          LNbits.api
            .request(
              'GET',
              '/scheduler/api/v1/jobconfigs',
              this.g.user.wallets[0].inkey
            )
            .then(response => {
              console.log(response.data)
              this.jobconfigs = response.data
            })
            .catch(err => {
              //clearInterval(this.checker) FIXME
              LNbits.utils.notifyApiError(err)
            })
        },
        openUpdateDialog(configId) {
          const jobconfig = _.findWhere(this.jobconfigs, {id: configId})
          this.formDialog.data = _.clone(jobconfig)
          this.formDialog.show = true
        },
        closeFormDialog() {
          this.resetFormData()
        },
        sendFormData() {
          console.log("send form data")
          const wallet = _.findWhere(this.g.user.wallets, {
             id: this.formDialog.data.wallet
          })
          var data = _.omit(this.formDialog.data, 'wallet')
          data.timer_minute = parseInt(this.formDialog.data.timer_minute)
          data.description = this.formDialog.data.description
          data.lnurl = this.formDialog.data.lnurl
          data.wallet = this.formDialog.data.wallet

          if (data.id){
            this.updateJobConfig(wallet, data)
          }else{
            this.createJobConfig(wallet, data)
          }
        },
        resetFormData() {
          this.formDialog = {
            show: false,
            data: {}
        }
      },
    },
    created: function () {
      this.getTools()
      this.getJobConfigs()
    }
  })
</script>
{% endblock %}
